.client-link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-white-color);
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color var(--timing-function);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }

  &:hover .client-icon,
  &:focus .client-icon {
    fill: var(--accent-color);
  }
}
.client-list {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.client-item {
  margin-right: 30px;
}
.client-item:last-child {
  margin-right: 0px;
}
.client-icon {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill var(--timing-function);
}
