/*Особенности*/
.features-list {
  display: flex;

  &__heading {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__text {
    line-height: 1.71;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin: 0px;
  }
  &__item {
    width: 270px;
    margin-right: 30px;
  }

  &__item:last-child {
    margin-right: 0px;
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: var(--background-second-color);
    margin-bottom: 30px;
  }
}
