.footer-wrap {
  color: var(--primary-white-color);
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  color: var(--primary-white-color);
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
}
.address-contact {
  margin-left: auto;
  margin-top: 9px;

  &__item:not(:first-child) {
    margin-top: 9px;
  }
  &__link {
    color: rgba(255, 255, 255, 0.6);
  }
}
.link-footer {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.invitation-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 206px;
  margin-left: 70px;

  &__welcome {
    @extend %text;
  }
}
.social-list__icons {
  fill: var(--primary-white-color);
}
